body{
   /* width: 1200px;
    /*margin:0 auto; /* pour centrer tt les éléments par rapport a l'espace de l'ordi*/
    font-family: "Montserrat", sans-serif; /*Changer la police*/
}

a
{
    color :gray; /*Changer la couleur*/
    font-size: 15px; /*Changer la taille de l'ecriture*/
    font-family: "Montserrat", sans-serif; /*Changer la police*/
    text-decoration: none; /* Enlever la décoration du texte (ex:soulignement)*/
    margin-left: 20px; /*l'espace entre les éléments*/

}
nav
{
    float : right; /* pour flotter un élément c-à-d de mettre à droite de la page*/
   margin-right: 20px;
   /* margin-top: 35px; */
   line-height: 100px; 
}
header
{
    display: flex;
    justify-content: space-between;
   /*margin-left: 1px;*/
   width: 1200px;
   margin:0 auto;
}
a:hover{
    color: orange; 
}
.ligne {
    /*width: 100%;*/
    height: 100px;
    background: content-box radial-gradient(rgb(49, 48, 48),rgb(49, 48, 48));
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, left, right;
}

footer {
    width: 100%;
    height: 80px;
    background: content-box radial-gradient(rgb(49, 48, 48),rgb(49, 48, 48));
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, left, right;
}

img{
    width: 100%;
}
section{
width: 1000px;
margin:0 auto;
display: flex;


}

.bloc2{
    padding: 5px;
    text-align: center;
    background-color: white;

}


.b1{
 color: grey;
}
.b2{
    color:orange;
   }

.bloc1:hover{
    
    transform:scale(2);
}
.bloc1{
    transition: 2s ease-in-out;
    
}
